@model  System.Data.DataTable

@using System.Data;

@{
    ViewBag.Title = "Analyse";

}

@section scripts{
    <script src="~/Scripts/tableloadchart.js"></script>
}

<h2>Analyse</h2>

<div id="chart_div"></div>


    