@model  System.Data.DataTable

@using System.Data;

@{
    ViewBag.Title = "View";

}

@section scripts{
    
    <script src="~/Scripts/tableloaddata.js"></script>
    <script>
        var tableid = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);
        TableLoadApp.value("tableid", tableid);
    </script>
}

<h2>View</h2>

<div ng-app="TableLoadApp" class="container">
    <div ng-controller="TableLoadController">
        <table class="table table-striped table-condensed table-hover">
            <tr>
                <th ng-repeat="header in headers">
                    {{headers[$index]}}
                </th>
                <th>
                    
                </th>
            </tr>
            <tr ng-repeat="r in tableload.data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-include="getTemplate(r)">
            </tr>
        </table>
        <div uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></div>
        <div></div>View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>3</option><option>5</option><option>10</option><option>20</option><option>30</option><option>40</option><option>50</option></select> records at a time.</div>
        <script type="text/ng-template" id="display">
            @foreach (DataColumn col in Model.Columns)
            {
                string jsCol = "{{r." + col.ColumnName + "}}";
                if (col.ColumnName != "DIRowID")
                {
                    <td>@jsCol</td>
                }
                else
                {
                    <td style="display: none">@jsCol</td>
                }
            }
            <td>
                <button ng-click="editData(r)">Edit</button>
            </td>
        </script>
        <script type="text/ng-template" id="edit">
            @foreach (DataColumn col in Model.Columns)
            {
                if (col.ColumnName != "DIRowID")
                {
                    <td><input type="text" ng-model="tableload.selected.@col.ColumnName" /></td>
                }
            }
            <td>
                <button ng-click="saveData($index,r,tableload.selected)">Save</button>
                <button ng-click="reset()">Cancel</button>
            </td>
        </script>
    </div>
</div>





