@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Data Inspector</h1>
    <p class="lead">Professional Tool That Helps You To Manage Your Data Files</p>
    <p><a href="https://www.adroitinsight.com/" class="btn btn-primary btn-lg">Company &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>
          Bunch of Highly Skilled Professionals
        </p>
        <p><a class="btn btn-default" href="https://www.adroitinsight.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://www.adroitinsight.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://www.adroitinsight.com/">Learn more &raquo;</a></p>
    </div>
</div>