@model Data_Inspector.Models.LoadViewModel
@{
    ViewBag.Title = "Loaded";
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">View your analysis! </p>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}