@model IEnumerable<Data_Inspector.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="~/Scripts/user.js"></script>
}

<h2>Users List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-app="UserApp" class="container">
    <input type="text" placeholder="Search User" ng-model="searchUser" />
    <br />
    <div ng-controller="UserController">
        <table class="table">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    UserName
                </th>
                <th></th>
            </tr>            
            <tr ng-repeat="r in users.data | filter : searchUser">
                <td>{{r.Email}}</td>
                <td>{{r.UserName}}</td>
                <td>
                    <a href="/UsersList/UploadedFiles/{{r.Id}}">Uploaded Files</a> | 
                    <a href="/UsersList/Details/{{r.Id}}">Details</a> | 
                    <a href="/UsersList/Delete/{{r.Id}}">Delete</a>
                </td>               
            </tr>
        </table>
    </div>
</div>
